.choosen__title{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #212B31;
  margin: 0;
}
.choosen__text{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #72787D;
  margin: 0;
  margin-top: 10px;
  width: 394px;
}